{
  "bracketSameLine": false,
  "bracketSpacing": true,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^(assets|components|icons|contexts|data|hooks|layouts|pages|types|router)(\/(.*))?", "^([.]{1,2}\/|stitches.config)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": false,
  "parser": "typescript",
  "semi": true,
  "singleQuote": false,
  "tabWidth": 4,
  "printWidth": 100,
  "trailingComma": "all",
  "useTabs": true,
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.ts", "*.tsx", "*.d.ts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
