@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1.20rem;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --redPrimary: #8C030E;
  --grayPrimary: #323232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card:has(img):hover {
  img {
    transform: scale(1.05);
    transition: all ease-in-out 200ms;
  }
  .underline {
    border-color: #8C030E;
  }
}

.main-menu:has([data-headlessui-state="open"]) {
  background-color: var(--grayPrimary);
}

/* Color Theme Swatches in Hex */
.redPrimary { color: #8C030E; }
.red-smoke-on-a-black-background-2-hex { color: #73020C; }
.red-smoke-on-a-black-background-3-hex { color: #400101; }
.red-smoke-on-a-black-background-4-hex { color: #260101; }
.blackPrimary { color: #0D0D0D; }

.navigationItem {
  border: 1px solid transparent;
}

.navigationItem:has([data-headlessui-state="open"]) {
  border: 1px solid var(--redPrimary);
}

